<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow existing files and folders
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect everything else to index.html
  RewriteRule ^ index.html [L]
</IfModule>
